<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <meta name="description" content="">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- links -->
  <link rel="stylesheet" href="../css/main-styling.css">
  <link rel="stylesheet" href="../css/header-footer.css">
  <link rel="stylesheet" href="../css/about.css">
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
  <!-- title -->
  <title>
    Tentang | Izzatunnisa
  </title>
</head>
<body>
  <header>
    <nav id="navbar">
      <h1 class="logo"><a href="index.html">IKV</a></h1>
      <ul class="navbar-main">
        <li class="navbar-item"><a  href="./index.html" class="current-page">Beranda</a></li>
        <li class="navbar-item"><a  href="./tentang.html">Tentang</a></li>
        <li class="navbar-item"><a  href="./blogs.html">Blogs</a></li>
        <li class="dropdown navbar-item"><a href="#"> Layanan</a>
          <ul class="dropdown-content">
            <li class="dropdown-item"><a  href="./service-kost.html">Kost</a></li>
            <li class="dropdown-item"><a  href="./service-paviliun.html">paviliun</a></li>
            <li class="dropdown-item"><a  href="./service-ruko.html">Ruko</a></li>
          </ul>
          </li>
        <li class="navbar-item"><a  href="./gallery.html">Gallery</a></li>
        <li class="navbar-item"><a  href="./paket.html">Paket&promo</a></li>
        <li class="navbar-item"><a  href="./contact.html">Pusat Bantuan</a></li>
      </ul>
  <!-- clear navbar float class -->
  <div class="clr"></div>
    </nav>
  </header>
  <main>
    <section id="about-info" class="bg-light py-3">
      <div class="container">
        <div class="info-left">
          <h1 class="l-heading">
            <span class="text-primary">About</span> Hotel BT
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Exercitationem veritatis illo, similique labore voluptate nulla
            animi dolorum eius laborum illum, nesciunt quod reprehenderit dicta
            autem vel nobis minima sit deleniti!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A velit
            voluptatem impedit voluptate. Doloribus, voluptas dolore! Cupiditate
            aliquid sequi deserunt.
          </p>
        </div>
        <div class="info-right">
          <img src="./img/photo-2.jpg" alt="hotel" />
        </div>
      </div>
    </section>

    <div class="clr"></div>

    <section id="testimonials" class="py-3">
      <div class="container">
        <h2 class="l-heading">What Our Guests Say</h2>
        <div class="testimonial bg-primary">
          <img src="./img/person-1.jpg" alt="Samantha" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            eligendi quibusdam, dolorum maxime cum numquam quisquam, deleniti
            eum incidunt, velit non consectetur. Facere, ipsa maxime, ullam id
            amet odio laboriosam sit iusto tempore fugit exercitationem, a
            dolore quo maiores nisi!
          </p>
        </div>

        <div class="testimonial bg-primary">
          <img src="./img/person-2.jpg" alt="Jen" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            eligendi quibusdam, dolorum maxime cum numquam quisquam, deleniti
            eum incidunt, velit non consectetur. Facere, ipsa maxime, ullam id
            amet odio laboriosam sit iusto tempore fugit exercitationem, a
            dolore quo maiores nisi!
          </p>
        </div>
      </div>
    </section>
  </main>
  <!-- footer -->
  <footer>
    <div id="small-nav">
      <ul>
        <li>
          <ul>
            <li><a href="./tentang.html">Tentang</a></li>
            <li><a href="./paket.html">promo</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="./service-kost.html">kost</a></li>
            <li><a href="./service-paviliun.html"> paviliun</a></li>
            <li><a href="./service-ruko.html"> ruko</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="./gallery.html"> gallery</a></li>
            <li><a href="./contact.html"> contact</a></li>
          </ul>
        </li>
        <ul>
          <!-- clear small-nav float class -->
          <div class="clr"></div>
    </div>
    <div id="social-links">
    </div>
    <div id="copyright">
      <p>Izzatunnisa &copy; 2023, All RIghts Reserved</p>
    </div>
  </footer>
</body>

</html>